.section-enterprise {
    background-color: #E7EBFF;
    padding: 0 5rem 5rem 5rem;
    @media only screen and (max-width: 950px) {
        padding: 0 5rem 100rem 5rem;
    }
}

.enterprise--heading {
    text-align: center;
    color: #225901;
    font-family: Roboto;
    font-weight: 600;
    line-height: 35.16px;
    font-size: 2rem;
    margin-bottom: 3rem;
}

.enterprise {
    background: #fff;
    font-size:1.5rem;
    height: 376px;
    width: 374px;
    border-radius: 10px;

    @media only screen and (max-width: 1265px) {
        height: 380px;
        width: 338px;
    }

    @media only screen and (max-width: 1201px) {
        height: 342px;
        width: 320px;
    }
    @media only screen and (max-width: 1124px) {
        height: 315px;
        width: 250px;
    }

    @media only screen and (max-width: 950px) {
        margin: 0 auto;
        height: 44rem;
        width: 75rem;
    }

    &__pic {
        border-top-right-radius: 1rem;
        border-top-left-radius: 1rem;
        width: 350px;
        height: 293.4px;
        padding: 15px;

        @media only screen and (max-width: 1265px) {
            height: 314px;
            width: 310px;
        }
        @media only screen and (max-width: 1201px) {
            height: 280px;
            width: 290px;
        }
        @media only screen and (max-width: 1124px) {
            height: 250px;
            width: 220px;
        }
        @media only screen and (max-width: 950px) {
            height: 35rem;
            width: 70rem;
        }
    
    }

    &__img {
        width: 350px;
        height: 293.4px;

        @media only screen and (max-width: 1265px) {
            height: 314px;
            width: 310px;
        }
        @media only screen and (max-width: 1201px) {
            height: 280px;
            width: 290px;
        }
        @media only screen and (max-width: 1124px) {
            height: 250px;
            width: 220px;
        }
        @media only screen and (max-width: 950px) {
            height: 35rem;
            width: 70rem;
        }
    }

    &__textarea {
        margin-top: 10px;
        padding: 15px;
        text-align: center;
        line-height: 17.58px;
        color:#285A84;
        font-family: Roboto;
    }

    &__title {
        font-size: 15px;
        font-weight: 600
    }

    &__detail {
        font-weight: 300;
        font-size: 15px;
    }
}