// header section

/* formatting the header element */
.header-about--contact {    
    height: 100vh; /* vh meaning viewport Height so 95 of default view height of the screen */   
    background-image:linear-gradient(
        to left bottom,
        rgba(#225901, 100),
        rgba(#04220700, 0.3)), 
        url(../../../images/Farm2.jpg);   
    background-size: cover;  /* background cover takes over the width of view port */   
    background-position: top; 

    @media only screen and (max-width: 1065px) {
        height: 260vh; 
    }

    // nesting the elements
    /* styling the logo */
    &__section--contact {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 90vh;
        padding: 0 3rem;
    }

    &__logo-box-about--contact {
        /* use absolute positioning */
        position: absolute;
        top:4rem;
        left:4rem;
        margin-bottom: 20rem;
        /* we need to have a refrence to count 40px top and left from. we get it from header, so the header part is placed to position relative to logo-box */
    }

    &__logo-about--contact {
        height:3.5rem;
    }

}
.contact {
    padding: 3rem;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    // @media only screen and (min-width: 1200px) {
    //     justify-content: baseline;
    // }
    &__map {
        display: flex;
        flex-direction: column;
        &--pic {
            border: 2px solid  #E5E5E5;
            height: 357px;
            width: 580px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            @media only screen and (min-width: 1365px) {
                height: 390px;
                width: 620px;
            }
        }

        &--detail {
            height: 200px;
            width: 580px;
            background-color:  #E7EBFF;
            color: #225901;
            margin-top: 0;
            z-index: 99;
            padding: 2rem 4rem;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            @media only screen and (min-width: 1700px) {
                width: 900px !important;
                height: 250px;
            }
            @media only screen and (min-width: 1500px) {
                // margin-top: 208px;
                width: 750px;
            }
            @media only screen and (max-width: 1500px) {
                // margin-top: 203px;
                width: 580px;
            }
        }


    }
    &__form {
        margin-right: 3rem;
        z-index: 99;
    }

    &__footer {
        display: flex;
        margin-top: 1rem;
        padding: 1.5rem;

        &__box {
            width: 50%;
            height: 3rem;
            background-color: #FFFFFF;
            border-top-left-radius: .4rem;
            border-bottom-left-radius: .4rem;
            
            &--text {
                text-align: center;
                margin-top: .5rem;
                font-size: 1.2rem;
                font-weight: 700;
                // color: #225901;
            }

        }

        &__btn {
            width: 50%;
            height: 3rem;
            background-color: #225901;
            color: #fff;
            border-bottom: 2px solid #225901;
        }
    }
    &__icons {
        padding: 0 15rem;
        display: flex;
        justify-content: space-between;
    }

    @media only screen and (max-width: 1065px) {

    }
}

.heading--title {
    text-align: center;
}

.locations {
    padding: 1.2rem;

    &__ul {
        list-style: none;
        font-size: 1.4rem;
    }
    li:not(:last-child) {
        margin-bottom: .5rem;
    }
}