.section-gallery {
    padding: 2rem 0 ;
    background-color: #fff;
    color: #348403;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: repeat(2, 20rem);
    padding: 10px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    padding: 50px;
    font-size: 30px;
    text-align: center;

    &__1 {
        background-image:url(../../../images/gal-1.png);
        background-size: cover;  /* background cover takes over the width of view port */   
        background-position: top;
    }
    &__2 {
        background-image: url(../../../images/gal-2.png);
        background-size: cover;  /* background cover takes over the width of view port */   
        background-position: top;
    }
    &__3 {
        background-image: url(../../../images/gal-3.png);
        background-size: cover;  /* background cover takes over the width of view port */   
        background-position: top;
    }
    &__4 {
        background-image: url(../../../images/gal-4.png);
        background-size: cover;  /* background cover takes over the width of view port */   
        background-position: top;
    }
    &__5 {
        background-image: url(../../../images/gal-5.png);
        background-size: cover;  /* background cover takes over the width of view port */   
        background-position: top;
    }
    &__6 {
        background-image: url(../../../images/gal-6.png);
        background-size: cover;  /* background cover takes over the width of view port */   
        background-position: top;
    }
    &__7 {
        background-image: url(../../../images/gal-7.png);
        background-size: cover;  /* background cover takes over the width of view port */   
        background-position: top;
    }
    &__8 {
        background-image: url(../../../images/gal-8.png);
        background-size: cover;  /* background cover takes over the width of view port */   
        background-position: top;
    }
}

.gallery {
    text-align: center;
    
    &__title {
        text-align: center;
    }
}