.section-footer {
    background-color: rgba(34, 89, 1, 1);
    margin-top: 3rem;
    color: #fff;
    font-size: 1.2rem;

}

.Footer {
    display: grid;
    grid-template-rows: 22rem 6rem;
    // grid-row-gap: 1rem;
    @media only screen and (max-width: 900px) {
        grid-template-rows: 40rem 6rem;
    }
    @media only screen and (max-width: 500px) {
        grid-template-rows: 70rem 6rem;
        grid-template-columns: 49rem;
        
    }
    &__detail {
        text-align: justify;
        padding: 0 0 0 1rem;
    }

    &__bullets--1 {
        margin-left: 1rem;
        font-size: 1.3rem;
        letter-spacing: 1.8;
    }

    &__header {
        font-size: 1.4rem;
        font-weight: 700;
    }

    &__part1 {
        border-bottom: 4px #fff solid;
        display: grid;
        // grid-template-columns: 27rem 14rem 10rem 17rem 28rem; minmax(6rem, 1fr) 
        grid-template-columns: minmax(27rem, 1fr) minmax(min-content, 14rem) minmax(min-content, 10rem) minmax(min-content, 17rem) minmax(28rem, 1fr);
        grid-column-gap: 4rem;
        padding: 4rem;
    
        @media only screen and (max-width: 1236px) {
            grid-template-columns: 30rem 15rem 11rem 14rem 30rem;
            grid-column-gap: 3rem;
            padding: 3rem;
            
        }
        @media only screen and (max-width: 1200px) {
            grid-template-columns: 32rem 17rem 12rem 14rem 30rem;
            grid-column-gap: 3rem;
            padding: 2rem;
            
        }
        @media only screen and (max-width: 1128px) {
            grid-template-columns: 30rem 14rem 11rem 15rem 30rem;
            grid-column-gap: 3rem;
            padding: 1rem;
            
        }
        @media only screen and (max-width: 1067px) {
            grid-template-columns: 28rem 14rem 9rem 14rem 29rem;
            grid-column-gap: 2rem;
            padding: 1rem;
            
        }
        @media only screen and (max-width: 1000px) {
            grid-template-columns: 33rem 14rem 11rem 15rem 30rem;
            grid-column-gap: 3rem;
            padding: 1rem;
            
        }
        @media only screen and (max-width: 900px) {
            grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
            grid-template-rows: repeat(auto-fit, minmax(10rem, 1fr));
            grid-column-gap: 5rem;
            grid-row-gap: 3rem;
            padding: 0 0 0 2rem;
            
        }
        @media only screen and (max-width: 500px) {
            grid-template-columns: repeat(1, 1fr);
            grid-column-gap: 3rem;
            padding: 3rem;
            
        }
    }

    &__part2 {
        display: grid;
        grid-template-columns: 2fr 1fr 2fr;
        grid-column-gap: 23rem;
        padding: 2rem 4rem;

        @media only screen and (max-width: 1191px) {
            grid-column-gap: 20rem;
        }

        @media only screen and (max-width: 1127px) {
            grid-column-gap: 17rem;
        }

        @media only screen and (max-width: 1065px) {
            grid-column-gap: 14rem;
            
        }
        @media only screen and (max-width: 500px) {
            grid-column-gap: 1rem;
            padding: 1rem;
            font-size: 1rem;
            grid-template-columns: 1.5fr 1fr 1fr;
            
        }

        &--icons {
            display: flex;
            justify-content: space-between;
        }
    }

    &__about {
        color: #fff;
    }

    &__copyright {
        // text-align: center;
    }

    &__terms {
        // text-align: center;
    }
}

.locationBullets {
    list-style: none;
    margin-left: 0 !important;
}

