.section-about {
    position: relative;
    background-color: #fff;
    padding:15rem 20rem 0 20rem;
    // to move the section above to cover the triangular space
    // margin-top: -15vh;
    // z-index: -99;
    @media only screen and (max-width: 900px) {
      padding:5rem 20rem 0 20rem;
      
  }

  @media only screen and (max-width: 500px) {
    padding:5rem 4rem 60rem 4rem;
    
}
  @media only screen and (max-width: 400px) {
    padding:5rem 1rem 60rem 1rem;
    
}
}

.section-wrapper {
  position: relative;
  background-color: #fff; 
  padding:10rem 20rem 0 20rem;

  @media only screen and (max-width: 500px) {
    padding:0rem 4rem 4rem 4rem;
    
}
  @media only screen and (max-width: 400px) {
    padding:0rem 1rem 4rem 1rem;
    
}
}

.feature-box {
    position: relative;
    background-color: #fff;
    font-size: 1.2rem;
    padding: .1rem;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 1.5rem 4rem rgba(#000, .15);
    cursor: pointer;
    margin-top: -19rem;
    // to perform transition
    transition: all .3s; 
    z-index: 99;
    @media only screen and (max-width: 900px) {
      margin-top: 0rem;
      
  }

    @media only screen and (max-width: 500px) {
      padding: 2rem;
      
  }

    &__position {
        // margin-top: -23rem;
    }

    // styling the icon
    &__icon {
        height: 10rem;
        width: 10rem;
        margin-bottom: .5rem;
        margin-top: 2rem;

        @media only screen and (max-width: 500px) {
          height: 7rem;
          width: 7rem;
          margin-bottom: .3rem;
          margin-top: 1rem;
          
      }
    }
    // perfroming the hover effect
    &:hover {
        transform: scale(1.05) translateY(-.5rem);
    }
    // styling the text
    &__text {

    }
}

.wraper {
    padding: 10px 50px 50px 50px;
    text-align: center;
    font-family: sans-serif;
    width: 638px;
    margin: 10px auto;
    color: #348403;
    @media only screen and (max-width: 950px) {
      width: 550px;
      
  }
    @media only screen and (max-width: 800px) and (max-height: 1280px) {
      width: 450px;
      
  }
    @media only screen and (max-width: 800px)  and (max-height: 360px)  {
      width: 450px;
      
  }
    @media only screen and (max-width: 700px) {
      width: 380px;
      
  }

    @media only screen and (max-width: 500px) {
      padding:10px;
      width: 228px;
      
  }
  //   @media only screen and (max-width: 400px) {
  //     padding:10px 50px 50px 50px;
      
  // }
  }
  
  h1 {
    margin: 50px auto;
  }
  
  .container {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
  }
  .link__2{
    margin-right: -2rem;
  }
  .link {
    position: relative;
    margin-top: 10px;
    width: 100%;

  }
  
  .link a {
    font-weight: bold;
    text-decoration: none;
    color: #348403;
    font-size: 15px;
  }
  
  .link:first-child {
    margin-left: -130px;

    @media only screen and (max-width: 500px) {
      margin-left: -50px;
      
  }
  }
  
  .link:last-child {
    margin-right: -130px;

    @media only screen and (max-width: 500px) {
      margin-right: -50px;
      
  }
  }
  
  .link::after {
    content: "";
    width: 10px;
    height: 10px;
    background: #fff;
    position: absolute;
    border-radius: 10px;
    top: -18px;
    left: 50%;
    transform: translatex(-50%);
    border: 2px solid #348403;
  }
  
  .active::after,
  .link:hover::after {
    background: #348403
  }
  
  p.lead {
    font-weight: 600;
    margin: 50px auto;
    line-height: 1.5;
  }

  .text {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;

    &__box {
        background-color: #fff;
        width: 15rem;
        height: auto;
        font-size: 1.4rem;
    }
    &__paragraph1 {
        margin-left: -7rem;
    }

    &__paragraph2 {
        margin-right: -6rem;
    }
  }

  
